.App{
    float: left;
    height: 100%;
    z-index: 0;
}
.info-item{
    display: none;
    float: left;
}
.info-item-active{
    display: block;
    margin-top: 100px;
    float: left;
    position: absolute;
}
